body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Changa', sans-serif;
    background-color: black;
    color: white;
    font-size: 2rem;
}

h1 {
    font-size: 4rem;
    font-weight: 400;
    height: 10.4rem;
    margin: 0; 
}

main {
    color:#A1A1A1;
    width: 22rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 0 2rem 0;
}

header {
    width: 80vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CITATION: https://stackoverflow.com/questions/4641752/css-how-to-style-a-selected-radio-buttons-label how to hide the radio checkbox and change the styling on the selected button*/
input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    color: white;
}

input[type="number"] {
    color: white;
    background-color: black;
    border: none;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

.diffOption {
    height: 2rem;
    display: flex;
    align-items: center;
}

.mole {
    height: 3.3rem;
    transform: translateY(9%);
}

.bonkImage {
    height: 6rem;
    transform: translateY(-4%);
}
.menuBtn {
    background-color: #222222;
    height: 2.5rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuBtn > a {
    color:#A1A1A1;
}

.menuBtn > a:hover {
    color: white;
}

#bigA {
    font-size:8rem;
    margin: .1rem; 
}

#underline {
    width: 18rem;
    height: .4rem;
    background-color: white;
}

#diffLabel {
    margin-right: 1rem;
}

#diffSelArea {
    display: flex;
    align-items: center;
    height: 10rem;
}

#easyHard {
    color: #444444;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gridPrompArea {
    display: flex;
    align-items: center;
}

#gridPromptLabel {
    margin-right: 1rem;
}

#playBtn {
    color:#A1A1A1;
}

#playBtn:hover {
    color: white;
    text-decoration: underline;
}

#gameGrid {
    display: grid;
    grid-gap: 1rem;
}

#gameGrid > div {
    width: 10rem;
    height: 4rem;
    color:black;
    background-color: gray;
    border-radius: 50%;
    border-top: .8rem;
    border-style: solid;
    border-color: #A9A9A9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timesUpText {
    background-color: #222222;
    height: 7rem;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    border: solid .1rem #A9A9A9;
}

#timesUpText > p {
    font-size: 10vw;
}

#finalScoreText {
    height: 8rem;
}

#finalScore {
    font-size: 4rem;
    color: gold;
}

#playAgainText {
    background-color: #222222;
    height: 5rem;
    width: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

#playAgainText >a {
    font-size: 3rem;
    color: #A1A1A1;
}

#playAgainText >a:hover {
    color: white;
}

#gameover {
    width: 60vw;
    height: 30rem;
    background-color: #0f0f0fc7;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* https://www.geeksforgeeks.org/how-to-center-an-element-using-positionfixed-in-css/# */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-60%);
    animation-name: gameOver;
    animation-duration: 0.5s;
}
/*CITATION on specificity https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity */
#gameover.hidden,
#topMenuBtn.hidden,
#bonkText.hidden {
    display: none;
}

@keyframes gameOver {
    0% {transform: translate(-50%,30%)}
    60% {transform: translate(-50%,-70%)}
    100% {transform: translate(-50%,-60%)}
}
